@import "./reset.css";

.container{
    width: min(100% - 20px, 1080px);
    margin-inline: auto;
}

body{
    background-color: rgb(245, 232, 209);
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid #444472; */
}

header{
    width: 100%;
    top: 0;
    left: 0;
    background-color: #7fffd4;
    height: 80px;
    line-height: 80px;
    padding-left: 100px;
    padding-right: 100px;
    z-index: 1000;
}

.flex, .navContainer, nav{
    display: flex;
}

.flex h1{
    letter-spacing: 4px;
}

.flex{
    justify-content: space-between;
    flex-wrap: wrap;
}

.navContainer{
    gap: 100px;
    flex-wrap: wrap;
}

nav{
    gap: 40px;
    font-size: 25px;
    font-weight: 700;
    flex-wrap: nowrap;
}

nav a{
    color: #000;
    text-decoration: none;
}

.contact{
    border: 2px solid #d69e18;
    background-color: #d69e18;
    color: #000;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}

.contact:hover{
    background-color: #000;
    color: #d69e18;
}

